* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat";
    -webkit-tap-highlight-color: transparent;
    max-width: 100%;
    font-display: swap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}